$type-blk: hsl(0,0%,25%);
$fill-blk: hsl(0,0%,10%);
$li-grey: hsl(0,0%,96%);
$orange: hsl(15,94,54);
$yellow: hsl(47,98,50);
$blu: hsl(220,89,45);
$rd: hsl(360,100%,50%);
$v-center-nav: 33px;
$hov-c: black;



@mixin e($element) {
	&__#{$element} {
		@content;
	}
}

@mixin m($modifier) {
	&--#{$modifier} {
		@content;
	}
}

@mixin border-under {
	border-bottom: 1px hsl(0,0,80);
	border-bottom-style: dotted;
	&:hover {
		border-bottom-color: $hov-c;
	}
}
@mixin bgImage ($link,$repeat,$pos, $size) {
	background-image: url($link);
	background-repeat: $repeat;
	background-position: $pos;
	background-size: $size;
}

@mixin center {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   -webkit-transform: translate(-50%,-50%);
}
@mixin v-center {
   position: absolute;
   top: 50%;
   left: 0%;
   transform: translate(-50%,-50%);
   -webkit-transform: translate(-50%,-50%);
}

@mixin triangle ($tri,$right_tri){
	border-top: $tri solid transparent;
  	border-bottom: $tri solid transparent;
  	border-left: $tri solid transparent;
	border-left: $tri solid $right_tri;
}

@mixin imageLeft() {
	float: left;
	height: 25vw;
	max-height: 450px;
	width: 47%;
	margin-right: 3%;
	background-color: $orange;
	clear: none;
	margin-bottom: 60px;
	@media only screen and (max-width: 765px) {
		width: 100%;
		float: none;
		height: 50vw;
		min-height: 200px;
		max-height: 700px;
		margin: 40px 0px 20px 0px;		
	}
}

@mixin imageRight() {
	float: left;
	height: 25vw;
	max-height: 450px;
	width: 47%;
	margin-left: 3%; 
	background-color: $blu;
	clear: none;
	margin-bottom: 60px;
	@media only screen and (max-width: 765px) {
		width: 100%;
		height: 50vw;
		float: none;
		min-height: 200px;
		max-height: 700px;
		margin: 40px 0px 20px 0px;
	}
}


