@import '_typography.scss';
@import '_var.scss';

.blog-container {
	margin: 0 auto;
	width: 90%;
	max-width: 1100px;
	min-width: 800px;
	height: 100%;
	text-align: left;
}

.posts-container {
	width: 80%;
	height: auto;
	float: left;
}


.blog-intro {
	@extend %body-family;
	@include e('intro-container') {
		width: 70%;
		height: 200px;
		margin: 0 auto;
		background-color: hsl(220,50,88);
	}
	@include e('blog-title') {
		@extend %title-family;
		font-size: 3rem;
		text-align: left;
	}
	@include e('blog-paragraph') {

	}
}

.single-post{
	font-size: 0.8rem;

	@include e('container') {
		background-color: hsl(120,50,88);
		width: 100%;
		height: auto;
		min-height: 250px;
	}
	@include e('post-title') {
		@extend %title-family;
		font-size: 1.5rem;
		line-height: 1.3rem;

		span {
			opacity: 0.3;
			font-size: 2rem;
		}
	}
	@include e('info') {
		width: 15%;
		min-width: 150px;
		background-color: hsl(320,50,88);
		height: 250px;
		float: left;

	}
	@include e('meta-line') {
		color: hsl(0,0,50);

	}
	@include e('excerpt') {
		width: 96%;
		height: auto;
	}
	@include e('post-image') {

	}
	@include e('read-post') {

	}
	@include e('content') {
		background-color: red;
		width: 80%;
		height: auto;
		float: right;
	}
}


.right-column {

	@include e('container') {
		font-size: 0.75rem;
		float: left;
		width: 20%;
		max-width: 170px;
		height: 100%;
		list-style: none;

	}
	@include e('title') {
		font-size: 0.95rem;
		@extend %title-family;
		border-bottom: 1px solid hsl(0,0,0);
		margin-top: 15px;

		@include m('top') {
			margin-top: 0;
		}
	}
	@include e('recent-posts') {
		
	}
	@include e('post') {
		padding-top: 3px;
		
		a {
			@include border-under;
		}
	}
	@include e('post-categories') {

	}
	@include e('category') {
		padding-top: 3px;

		a {
			@include border-under;

		}

	}
}