@import '_typography.scss';
@import '_var.scss';





// 
body {
	margin: 0 auto;
	@extend %mono-copy;
	text-transform: none;

	a:active {
		color: red;
		text-decoration: none;
	}

	a:visited {
		text-decoration: none;
		color: $type-blk;
	}

	a:link {
		text-decoration: none;
		color: $type-blk;
	
	}
	
}


//b   d8    db    888 8b  8 
//YbmdP8   dPYb    8  8Ybm8 
//  "  8  dPwwYb   8  8  "8 
//     8 dP    Yb 888 8   8 
                         
  .main-container {
	width:90%;
	height: 100%;
	// max-width: 1100px;
	// margin: 0 auto;
	margin: 0% 5% 0% 5%;
	font-size: 0.9rem;
	@extend %body-family;

  }  



.page__header {
	width: 88%;
	transition-duration: 0.3s;
	line-height: 3rem;
	color: $fill-blk;
	// margin-bottom: 20px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: auto;
	// background-color: red;


	@include m('mobile') {
		@media only screen and (max-width: 765px) {
			margin-left: $v-center-nav;
		}
	}

	@include m('title') {
		@extend %title-family;
		font-size: 3rem;
		text-transform: none;
		text--webkit-transform: none;
		@media only screen and (max-width: 765px) {
			font-size: 2rem;
		}
	}
	@include m('description') {
		@extend %mono-family;
		font-size: 0.7rem;
		width: 50%;
		min-width: 280px; 
		line-height: 1.3rem;
		text-transform: uppercase;
		-webkit-text-transform: uppercase;
	}
	@include m('return') {
		width: 100%;
		height: auto;
		margin: 0;
		padding: 0;
		text-decoration: underline;
		@extend %mono-family;
		font-size: 0.7rem;
	}




}


//88b. 888b. 8888    db    8  dP 888b. .d88b. 888 8b  8 88888 
//wwwP 8  .8 8www   dPYb   8wdP  8  .8 8P  Y8  8  8Ybm8   8   
//   b 8wwK' 8     dPwwYb  88Yb  8wwP' 8b  d8  8  8  "8   8   
//88P' 8  Yb 8888 dP    Yb 8  Yb 8     `Y88P' 888 8   8   8   



                                                             
@media only screen and (min-width: 1200px){
  .main-container {
  	// max-width: 1450px;
  }
}

//TABLET + MOBILE
@media only screen and (max-width: 765px){
  .main-container {
	width:100%;
	height: 100%;
	max-width: 100%; 
	margin: 0 auto;
	position: relative;
  }

  .project-info {
  	width: 88%;
  }

  .project-body {
  	columns:1;
  }

  .nav-container {
  	ul {
  		margin-right: $v-center-nav;
  	}

  	.nav-wordmark {
  		margin-left: $v-center-nav;
  	}
  }
}






//b  8    db  Yb    dP 888 .d88b.    db   88888 888 .d88b. 8b  8 
//Ybm8   dPYb  Yb  dP   8  8P  ww   dPYb    8    8  8P  Y8 8Ybm8 
//  "8  dPwwYb  YbdP    8  8b  d8  dPwwYb   8    8  8b  d8 8  "8 
//   8 dP    Yb  YP    888 `Y88P' dP    Yb  8   888 `Y88P' 8   8 


.nav-container {
	@extend %demi-family;
	font-size: 0.9rem;
	width: 100%;
	height: 80px;
	line-height: 5rem;	
	
	a {
		text-decoration: none;
		transition: 0.1s;


		&:hover {
			transition: 0.1s;
			border-top: 1px solid $rd;
		}
	}	

	ul {
		display: inline;
		padding-left: 0px;
		list-style: none;

		li {
			display: inline;
			list-style: none;
			padding: 0px;
			margin-left: 15px;
			@media only screen and (max-width: 400px) {
				margin-left: 3px;
			}
		}
	}


	.nav-menus {
		float: right;
	}
	
	.nav-menus-action {
		padding-top: 3px;

	}


	.nav-wordmark {
		float: left;
		 a {
		 	padding-top: 3px;
		 }
	}
}

.mobile-hidden {
	@media only screen and (max-width: 400px) {
		display: none;

	}
}



//888 .d88b. .d88b. 88888 8888 888b. 
//www 8P  Y8 8P  Y8   8   8www 8  .8 
//    8b  d8 8b  d8   8   8    8wwK' 
//    `Y88P' `Y88P'   8   8888 8  Yb 


.footer {
	width: 100%;
	height: 30vh;
	margin-top: 30px;
	@extend %mono-family;
	max-height: 120px;
	position: relative;
	text-transform: uppercase;
	@media only screen and (max-width: 765px) {
		margin: 0 auto;
		width: 88%;
	}

	@include e('project') {
		display: none;
		@extend %mono-family;
		font-size: 0.7rem;
		@media only screen and (max-width: 765px) {
			display: block;
			padding-top: 30px;
			margin: 0 auto;
			height: 40px;
			width: 88%;
			text-transform: uppercase;
			border-bottom: 1px dashed $type-blk;

		}

		@include m('previous') {
			float: left;
			height: 20px;
			width: 50%;
			text-align: left;
		}
		@include m('next') {
			float: right;
			height: 20px;
			width: 50%;
			text-align: right;

		}
	}
	@include e('meta') {
		font-size: 0.65rem;
		height:65px;
		width: 100%;
		line-height: 4rem;
		margin: 0 auto;
		text-align: center;
		border-top: 1px dashed $type-blk;
	}

	@include e('backToTop') {
		width: 55px;
		height: 55px;
		border-radius: 49%;
		-webkit-border-radius: 49%;
		margin: 20px auto;
		border: 1px solid $type-blk;
		-webkit-border: 1px solid $type-blk;
		transition: 0.3s ease;
		cursor: pointer;
		@media only screen and (min-width: 765px) {
			
		
		   &:hover {
    			background-color: $fill-blk;
    			color: #fff;
    			transition: 0.3s ease;
    			a:link {
					text-decoration: none;
					color: #fff;
				}
    			a:visited {
					text-decoration: none;
					color: #fff;
				}


    		}

    	}

		@include m('arrow') {
			-webkit-transform: scale(1.3, 1.7); 
    		transform: scale(1.3, 1.7);
    		text-align: center;
    		position: relative;
    		top: 20px;
    		border-radius: 100%;

		}

	}
	@include e('backText') {
		text-align: center;
		font-size: 0.6rem;
		position: relative;
		margin-bottom: 15px;
	}

}



//88 8b  8 88888 888b. .d88b. 
 //  8Ybm8   8   8  .8 8P  Y8 
 //  8  "8   8   8wwK' 8b  d8 
//88 8   8   8   8  Yb `Y88P' 

.breaker {
	background-color: $rd;
	height: 7px;
	width:50px;
	margin: 15px 0px 23px 0px;

}

.worklist {
	display: inline;
	width: 100%;
	height: 40px;
}

.breakerSpacer {
	display: inline;
	font-size: 0.9rem;
	width: 5px;
	height: auto;
	position: relative;
	color: $rd;
}

.intro {
	width: 100%;
	max-width: 1000px;
	height: 100%;
	height: auto;
	margin-top: 30vh;
	transition-duration:0.3s;
	position: relative;
		@media only screen and (max-width:765px) {
			width: 80%;
			left: $v-center-nav;
		}
		@media only screen and (max-width:585px) {
			margin-top: 25vh; 
		}		

		@media only screen and (max-width:422px) {
			margin-top: 18vh; 
		}

		@media only screen and (max-height:420px) {
			margin-top: 15vh;
		}

	@include e('body') {
		transition-duration:0.3s;

		line-height: 3.35rem;
		// width: 60
		font-size: 3.375rem;
		letter-spacing: -0.05rem;

		@media only screen and (max-width:765px) {
			font-size: 2.5rem;
			line-height: 2.675rem;
		}



	}

	@include e('readmore') {
		@extend %body-family;
		text-align: center;
		width: 100px;
		font-size: 0.9rem;
		transition: 0.1s;
		padding: 60px 0px 0px 0px;



		&:hover {
			transition: 0.1s;
			border-bottom: 1px solid $rd;
			cursor: pointer;

		}

	}
}



//88b. 888b. .d88b.  8888 8888 .d88b 88888    
//  .8 8  .8 8P  Y8    8  8www 8P      8       
//wwP' 8wwK' 8b  d8 w  8  8    8b      8      
//     8  Yb `Y88P' `Yw"  8888 `Y88P   8      


.switch {
	@extend %mono-family;
	font-size: 0.7rem;
	position: fixed;
	width: 5%;
	line-height: 2rem;
	white-space: nowrap;
	text-transform: uppercase;
	text--webkit-transform: uppercase;

	a:link {
		color: $type-blk;
	}
	&:hover {
		text-decoration: underline;
	}
}
.next {
	right: 0px;
	top: 50%;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform-origin:center;
	-webkit-transform-origin:center;
	@media only screen and (max-width:765px) {
		display: none;
	}
}

.previous {
	left: 0px;
	top: 50%;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	transform-origin:center;
	-webkit-transform-origin:center;
	@media only screen and (max-width:765px) {
		display: none;
	}
}


.item-link {

	&:hover {
		text-decoration: underline;
	}
}

.im2a-last {
	margin-right: 0;
}
.project {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	@extend %body-family;
	font-size: 0.875rem;
	// font-size: 15px;
	line-height: 22px;

	@include e('break') {
		width: 100%;
		height: 1px;
		clear: both;
		margin-top: 20px;
		margin-bottom: 20px;
		background-color: $fill-blk;
	}
	@include e('body-copy') {
		width: 60%;
		max-width: 900px;
		height: auto;
		border-left: 3px solid $rd;
		left: 40px;
		padding: 40px 40px 40px 40px;
		background-color: hsl(0,0,97);
		@media only screen and (min-width: 765px) {
			left: 60px;
		}
		@media only screen and (max-width: 765px) {
			
		}
		position: relative;
		margin: 16% 0% 16% 0%;
		
	}
	@include e('copy') {
		width: 100%;
		height: auto;
		margin: auto;

		@media only screen and (max-width: 765px) {
			width: 90%;
		}	
		@media only screen and (max-width: 665px) {
			width: 88%;
		}
		@media only screen and (max-width: 525px) {
			width: 84%;
		}
		@media only screen and (max-width: 330px) {
			width: 80%;
		}
	}
}


.video-link {
	background-color: #fff !important;

}


.b-button {
	@media only screen and (max-width: 370px) {top:-20px !important;}
}

.r-button {
	float: left !important;
	list-style: none;
	position: relative;
		@media only screen and (max-width: 765px) {
			float: right !important;
			top: -10px;
		}

}

.bdy {
	padding-top: 10px;



	// border-top: 1px solid $m-grey;

	@include e('h') {
		width: 20%;
		height: 100%;
		float: left;
		padding-top: 15px;
		line-height: 1.9rem;
		margin: 0% 2% 6% 0%;
		// text-transform: uppercase;
		@extend %title-family;
		font-size: 2rem;
		@media only screen and (max-width: 600px) {
			font-size: 1.5rem;
		}
		@media only screen and (max-width: 765px) {
			border-top:none;
			width: 48%;
			margin: 0% 4% 0% 0%;
			// padding-bottom: 8px;
			// padding-top: 8px;
		}

	}	
	// @include e('s') {
	// 	float: left;
	// 	width: 20%;
	// 	height: 100%;
	// 	margin: 0% 2% 6% 0%;
	// 	text-transform: uppercase;
	// 	@extend %mono-family;
	// 	font-size: 0.75rem;
	// 	letter-spacing: -0.008rem;
	// 	@media only screen and (max-width: 600px) {
	// 		font-size: 0.65rem;
	// 	}
	// 	@media only screen and (max-width: 765px) {
	// 		width: 48%;
	// 		margin:0%;
	// 		padding-bottom: 6px;
	// 		border-top:none;


	// 	}
	// }
	@include e('c') {
		@extend %mono-family;
		width: 76%;
		height: 100%;
		float: left;
		margin: 0% 0% 6% 0%;
		font-size: 12px;
		line-height: 16px;
		columns: 2;
		column-gap: 15px;

		@media only screen and (max-width: 600px) {
			font-size: 12px;
		}
		@media only screen and (max-width: 765px) {
			width: 100%;
			columns: 1;
		}
	}	

}


.project-return {
	width: 100%;
	float: left;
	height: auto;
	text-align: left;
	text-decoration: underline;
}

.project-hero {
	width: 100%;
	height: 50vw;
	clear: both;
	margin: 20px 0px 20px 0px;
	min-height: 200px;
	// max-height: 700px;
	background-color: $li-grey;

	@include e('half') {
		width: 50%;
		float: left;
		height: 100%;
		position: relative;
	}
}
.project-hero-break {
	width: 100%;
	height: 10vw;
	clear: both;
	margin: 20px 0px 20px 0px;
	max-height: 100px;
	min-height: 50px;
}



.project-title {
	@extend %title-family;
	color: $fill-blk;
	font-size: 3rem;
	letter-spacing: -0.05rem;
	text-transform: none;
	-webkit-text-transform: none;
	float: left;
	width: auto;
	margin: 38px 0px 38px 0px;
	text-align: left;
	transition:0.5s;
	@media only screen and (max-width: 565px) {
		transition:0.5s;
		font-size: 2rem;
		width: 100%;
		margin-bottom: 8px;
	}
}

.project-meta {
	float: right;
	width: auto;
	margin: 50px 0px 30px 0px;
	text-align: right;
	@media only screen and (max-width: 650px) {
		float: left;
		text-align: left;
		width: 100%;
		margin-top: 8px;

	}
}


.project-info {
	width: 100%;
	margin: 0 auto;
	height: auto;
	padding-top: 20px;
	text-align: center;
	list-style: none;
	@media only screen and (max-width: 765px) {
		width: 90%;
	}	
	@media only screen and (max-width: 665px) {
		width: 88%;
	}
	@media only screen and (max-width: 525px) {
		width: 84%;
	}
	@media only screen and (max-width: 330px) {
		width: 80%;
	}

	@include e('left') {
		width: 25%;
		height: 75px;
		text-align: left;
		float: left;
		
		@media only screen and (max-width: 765px){
			padding-bottom: 25px;
			width: 100%;
			border-bottom: 1px solid $fill-blk;
		}	
	}
	@include e('right') {
		float: right;
		width: 20%;
		height: 50px;
		text-align: right;
		a:link {
			// text-decoration: none;
		}
		@media only screen and (max-width: 765px){
			width: 30%;
			float: left;
			text-align: left; 
			margin-top: 20px;
		}
		@media only screen and (max-width: 370px){
			width: 100%;
			float: left;
			text-align: left;
			margin-top: 20px;
			margin-bottom: 40px;

		}			
	}

	@include e('list-right') {
		margin: 5px 0px 5px 0px;
		padding:0;
	}

	@include e('list-left') {
		margin: 5px 0px 5px 0px;
		padding: 0;
	}

	@include e('center') {
		width: 52%;
		height: auto;
		float: left;
		margin-bottom: 50px;
		margin-top: 5px;
		text-align: left;
		@media only screen and (max-width: 765px){
			width: 60%;
			margin-top: 20px;
			margin-bottom: 50px;
			float: right;
		}
		@media only screen and (max-width: 370px){
			width: 100%;
			margin-top: 20px;
			margin-bottom: 15px;
			float: left;
		}
	}	
}


.plb {
	@extend %mono-family;
	font-size: 0.65rem;
	width: 140px;
	line-height: 2.2rem;
	height: 32px;
	color: white;
	text-align: center;
	float: right;
	cursor: pointer;
	transition: 0.5s;
	position: relative;

	&:hover {
		background-color: $blu;
		transition:0.5s;
	}

	@media only screen and (max-width: 765px){
			float: left;
			transition: 0.5s;
		}
	@media only screen and (max-width: 480px){
		width: 80px;
		line-height: 1rem;
		padding: 10px 10px 0px 10px;
		height: 40px;
		float: left;
		transition: 0.5s;
	}	
	@media only screen and (max-width: 370px){
		top: -60px;
		width: 74vw;
		height: 25px;

	}		

}

.caption {
	@extend %mono-family;
	font-size: 0.6rem;
	text-transform: uppercase;
	padding-bottom: 20px;

	@media only screen and (max-width: 765px){
		margin-left: $v-center-nav;
		width: 78%;
		line-height: 0.8rem;
	}
}

.cb {
	background-color: $orange;
}

.cb-l {
	background-color: $yellow;
	color: $type-blk;
	&:hover {
		color: #fff;
	}
}


// .d88b.    db    8b  8 888b. 888b. .d88b. Yb  dP 
// YPwww.   dPYb   8Ybm8 8   8 8wwwP 8P  Y8  YbdP  
//     d8  dPwwYb  8  "8 8   8 8   b 8b  d8  dPYb  
// `Y88P' dP    Yb 8   8 888P' 888P' `Y88P' dP  Yb 
 
.sandbox {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	text-align: center;
	@include e('exploration') {
		width: auto;
		margin: 15px;
		@media only screen and (max-width: 600px) {
			width: 84%;
		}
	}
}

// Yb        dP .d88b. 888b. 8  dP 
//  Yb  db  dP  8P  Y8 8  .8 8wdP  
//   YbdPYbdP   8b  d8 8wwK' 88Yb  
//    YP  YP    `Y88P' 8  Yb 8  Yb 



.work {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	@extend %mono-family;
	font-size: 0.72rem;
}

.blog {
	background-color: $blu;
}

.preview {
	@include e('container') {
		transition-duration: 0.3s;
		width: 100%;
		height: 40vw;
		min-height: 200px;
		max-height: 600px;
		margin: 25px 0px 25px 0px;

		@include m('blog') {
			height: 20vw;
			max-height: 300px;
			margin: 25px 0px 25px 0px;
 
		}

	}
	@include e('blg') {
		font-size: 0.8rem;
		margin: 0% 3% 0 3%;
		height: 100%;
		line-height: 20vw;
		color: #fff;
		width: 25%;


		@media only screen and (max-width:765px) {
			font-size: 0.65rem;
			margin: 0% 5% 0 5%;

		}

		@include m('left') {
			float: left;
		}
		@include m('right') {
			float: right;
			text-align: right;
		}
	}



	
	@include e('info') {
		width: 100%;
		height: 100%;
		position: relative;




		@include m('top') {
			width: 94%;
			margin: 3% 3% 0 3%;
			height: 83%;
			position: relative;
			float: left;
			font-size: 0.8rem;
			text-transform: uppercase;

			@media only screen and (max-width: 765px) {
				width: 90%;
				margin: 3% 5% 0 5%;
				height: 78%;
				font-size: 0.65rem;
			}
		}		
		@include m('bottom') {
			width: 94%;
			margin: 0% 3% 3% 3%;
			height: 3%;
			position: relative;
			float: left;
			font-size: 0.8rem;
			text-transform: uppercase;
			@media only screen and (max-width: 765px) {
				width: 90%;
				margin: 0% 5% 3% 5%;
				font-size: 0.65rem;
			}
		}	

		@include m('topleft') {
			float: left;
			margin: 0;
			padding: 0;
			// text-shadow: 0px 0px 20px #000;	 			
		}		
		@include m('topRight') {
			float: right;
			margin: 0;
			padding: 0;
			// text-shadow: 0px 0px 20px #000;	 			
		}		
		@include m('bottomleft') {
			float: left;
			margin: 0;
			padding: 0;
			// text-shadow: 0px 0px 20px #000;	 			
		}		
		@include m('bottomRight') {
			float: right;
			margin: 0;
			padding: 0;
			// text-shadow: 0px 0px 20px #000;	 			

		}
	}
}

.prj1 {
	color: #fff;
	@include bgImage('../../images/risingtide/wire2.png',no-repeat,center,cover);
	//rising tide
	background-color: $blu;
}
.prj2 {
	color: $type-blk;
	@include bgImage('../../images/metro/cover.png',no-repeat,center,contain);
	//metrolinx
	background-color: $yellow;
}
.prj3 {
	color: #fff;
	@include bgImage('../../images/we/we_gold_2.png',no-repeat,center,cover);
	//we are one
	background-color: #282626;
	// background-color: $li-grey;
}
.prj4 {
	color: #fff;
	@include bgImage('../../images/consume/consume_cover.png',no-repeat,center,contain);
	//consume culture
	background-color: $orange;
}
.prj5 {
	color: $type-blk;
	//transmedia
	@include bgImage('../../images/p151/c151.png',no-repeat,center,contain);

	background-color: $yellow;
}
.prj6 {
	color: #fff;
	background-color: $blu;
}
.prj7 {
	color: #fff;
	background-color: $orange;
}
.prj8 {
	color: $type-blk;
	background-color: $yellow;
}
.prj-g {
	color: $type-blk;
	background-color: $yellow;
}







//    db    888b. .d88b. 8    8 88888 
//   dPYb   8wwwP 8P  Y8 8    8   8   
//  dPwwYb  8   b 8b  d8 8b..d8   8   
// dP    Yb 888P' `Y88P' `Y88P'   8   



.about {
	width: 1000px;
	height: 500px;
	margin: 0 auto;
	@media only screen and (max-width: 1110px) {
		width: 100%;
	}
	// background-color: hsl(0,0,20);

	@include e('image') {
		width: 37%;
		height: 500px;
		float: left;
		// -webkit-filter: invert(100%);
		// filter: invert(100%);
		@include bgImage ('../images/placeholder.jpg',none,center,cover);
		// background-color: hsl(120,50,80);
		@media only screen and (max-width: 765px) {
			width: 100%;
			height: 400px;
		}
	}
	@include e('info') { 
		width: 63%;
		float: left;
		height: 500px;
		@media only screen and (max-width: 765px) {
			width: 80%;
			height: 100px;
			margin-left: $v-center-nav;
		}
	}
	@include e('title') {
		@extend %title-family;
		font-size: 3rem;
		margin: 40px 20px 30px 20px;

	}
	@include e('body') {
		@extend %body-family;
		margin: 20px;
		width: 90%;
		@media only screen and (max-width:765px) {
			width: 90%;
		}

	}
	@include e('connect') {
		width: 200px;
		height: 50px;
		margin: 20px;
	}
	@include e('icon') {
		margin-right: 15px;
	}
	@include e('get-in-touch') {
		width: 100%;
		@extend %mono-family;
		font-size: 0.6rem;
		line-height: 1rem;
	}
}



// 		  88888 .d88b. .d88b. 8    88888 888 888b. 
//   		8   8P  Y8 8P  Y8 8      8    8  8  .8 
//   		8   8b  d8 8b  d8 8      8    8  8wwP' 
//   		8   `Y88P' `Y88P' 8888   8   888 8     
                                         



.tooltip {
    text-decoration:none;
    position:relative;
}
.tooltip span {
    display:none;
    background-color: white;
    box-shadow: 0px 0px 10px hsl(0,0,95);
}
.tooltip:hover span {
    display:block;
    position:fixed;
    overflow:hidden;
}


//        444444444       000000000            444444444  
//       4::::::::4     00:::::::::00         4::::::::4  
//      4:::::::::4   00:::::::::::::00      4:::::::::4  
//     4::::44::::4  0:::::::000:::::::0    4::::44::::4  
//    4::::4 4::::4  0::::::0   0::::::0   4::::4 4::::4  
//   4::::4  4::::4  0:::::0     0:::::0  4::::4  4::::4  
//  4::::4   4::::4  0:::::0     0:::::0 4::::4   4::::4  
// 4::::444444::::4440:::::0 000 0:::::04::::444444::::444
// 4::::::::::::::::40:::::0 000 0:::::04::::::::::::::::4
// 4444444444:::::4440:::::0     0:::::04444444444:::::444
//           4::::4  0:::::0     0:::::0          4::::4  
//           4::::4  0::::::0   0::::::0          4::::4  
//           4::::4  0:::::::000:::::::0          4::::4  
//         44::::::44 00:::::::::::::00         44::::::44
//         4::::::::4   00:::::::::00           4::::::::4
//         4444444444     000000000             4444444444


.four {
	font-size: 4rem;
	@extend %title-family;
}
